<div class='container'>
  <ul>
    <li><input type='text' name='post[title]' placeholder='title'>
    <li><input type='text' name='post[price]' placeholder='price'>
    <li><textarea name='post[description]' placeholder='description'></textarea>
  </ul>
</div>
